<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<div class="contents">
    <div class="sidebar">
        <h1>Twitter<br>Modoki</h1>
        <p>Find me in app/views/tweets/index.html.erb</p>
        <p><%= button_to 'ツイート', "/tweets/new", method: :get %></p>
    </div>

    <div class="main-content">
        <% @tweets.each do |tweets| %>
            <div class="cell">
                <div class="menu">
                    <div class="time"><%= ((Time.now-tweets.tdate)/60).floor %>分前
                    </div>
                    <div class="edit-menu">
                        <%= link_to '編集', "/tweets/#{tweets.id}/edit" , class: "hoge"%>
                        <%= link_to '削除', "/tweets/#{tweets.id}", class: "hoge", method: :delete %>
                    </div>
                </div>
                <p class="message"><%= tweets.message %></p>
            </div>
        <% end %>
    </div>
</div>
