<% if flash[:notice] %>
    <div class="notice-window">
        <% timecount = Time.current %>
        <%= flash[:notice] %>
    </div>
<% end %>
    


<div class="contents">
    <div class="sidebar">
        <div class="sidecontents">
            <%= image_tag "bird_aoitori_bluebird.png", class: "logo" %>
            <ul class="sidebar-navi">
                <li><%= link_to 'Home', "#" %></li>
                <li><a>ユーザ名</a></li>
                <li><%= link_to '通知', "#" %></li>
                <li><%= link_to 'メッセージ', "#" %></li>
                <li><%= link_to 'リスト', "#" %></li>
                <li><%= link_to 'プロフィール', "#" %></li>
                <li><%= link_to 'ログイン', "#" %></li>
            </ul>
            <p><%= button_to 'ツイートする', "new_tweet", method: :get, class: "twwetbutton" %></p>
        </div>
    </div>

    <div class="main-content">
        <% @tweets.each do |tweets| %>
            <div class="cell">
                <div class="usericon">
                    <%= image_tag "audience.png" %>
                </div>
                <div class="content">
                    <div class="menu">
                        <div class="about">
                           <div class="username">ユーザー名</div>
                            <div class="time"><%= ((Time.now-tweets.tdate)/60).floor %>分前</div> 
                        </div>
                        <div class="edit-menu">
                            <%= link_to '編集', "/#{tweets.id}/edit_tweet" %>
                            <%= link_to '削除', "/delete/#{tweets.id}", method: :delete %>
                        </div>
                    </div>
                <p class="message"><%= tweets.message %></p>
                <div class="reaction">
                    <%= link_to 'いいね', "/#{tweets.id}/likes" %>
                </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
